---
import { getCollection } from "astro:content";
import { Code } from "astro-expressive-code/components";
import Typst from "../components/Typst.astro";
import { TypstDocInput } from "../lib/prelude";
import Simp from "./simp.typ";
import SimpRaw from "./simp.typ?raw";
import SimpHtml from "./_simp-html.typ?html";
import DemoJsx from "./_DemoJsx.astro";
import DynTypst from "../components/DynTypst.astro";

const code = `
#let a = 123
#let b = 456
this is *html* content
#html.frame(block(width: 35em)[
this is *html.frame* content
#set text(lang: "zh", font: "Noto Serif CJK SC", weight: 400)
#(str(a) + str(b)) Astro Typst Hello World
南去經三國，東來過五湖。渺渺茫茫墨潑天，飄飄拂拂雨如煙。遨遊四海，見兩人對坐於廟。一者龍跳天門，虎臥鳳閣，有興國安邦、巨擘八方之志；一者微風迎客，軟語伴茶。細察，茶乃中國茶。是以中國智造，慧及全球矣。常計白以當黑，奇趣乃出，所攜之褐色狐狸身手矯健地躍過懶洋洋的狗。二者咽玻璃而不傷其身體，唯心口隱隱作痛，若綻若裂，以其透過字體用心綻放東方文字傳情之美。午後，初晴。淺淺地笑著，溫和的光線，覆下來，每一寸毛孔都通透了，都暖了。人各攜手輕舞於文字飄灑的花樣年華，賦有理性良知，誠應和睦相處，情同手足。以眼看世界，即使站得最高，世界還是很小；以心看世界，即使身處局限，世界依然很大。生活遠不完美，需要用心去體會；無需擁有太多，願快樂與你相隨。視野無限廣，窗外有藍天，去勇敢追逐自己的色彩吧。
])
$ cal(A) := { x in RR | x "is natural" } $
`;
const input: TypstDocInput = {
  mainFilePath: "src/content/typ/test.typ",
  inputs: {
    something: "from Astro!",
  },
};

const dynExample = `
#let page-width = sys.inputs.at("x-page-width", default: 21cm)
#stack(
  dir: ltr,
  spacing: 2em,
  box(width: 35%)[#lorem(200)],
  box(width: 55%)[#lorem(250)]
)
`;

const collections = await getCollection("typ");
const pkgVer = "0.12.0-beta.4";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Typst Demo</title>
  </head>
  <body>
    <header>
      <h1><samp>astro-typst</samp> playground</h1>
      <p>Version: <samp>{pkgVer}</samp> with {Astro.generator}</p>
    </header>
    <main>
      <h2>0: Articles in the collection</h2>
      <ul>
        {
          collections.map(({ slug, data }) => (
            <li>
              <a href={`/${slug}`}>
                <h3>{data.title}</h3>
              </a>
              by
              {data.author}
            </li>
          ))
        }
      </ul>
      <!-- <Typst code={code} width={"100%"} height={"auto"} /> -->
      <h2>1: <samp>svg</samp> output</h2>
      <h3>1.1: Import as a component</h3>
      <Code
        lang="jsx"
        code={`---
import Simp from "./simp.typ";
---
<Simp />`}
      />
      <!--
      <h3>
        <code>width</code> set to <samp>"100%"</samp> and <code>height</code> set
        to <samp>"auto"</samp>
      </h3>
      -->
      <Simp />
      <h3>1.1: In route</h3>
      <a href="/simp">/simp</a>
      <h3>1.2: <code>raw</code> content</h3>
      <pre>{SimpRaw}</pre>
      <h2>2: <samp>HTML export</samp></h2>
      <SimpHtml />
      <h3>2.1: string code & <code>#html.frame</code></h3>
      <Typst code={code} target="html" />
      <h2>3. Hast & JSX</h2>
      <DemoJsx />
      <h2>4: <code>TypstDocInput</code></h2>
      <Typst input={input} />
      <h2>5: <code>mainFilePath</code></h2>
      <Typst src={input.mainFilePath!} />
      <h2>6: <code>DynTypst</code></h2>
      <p>Work in progress</p>
      <!-- <DynTypst code={dynExample} /> -->
    </main>
    <style>
      body {
        margin: clamp(1rem, 2vw, 3rem);
        font-family: sans-serif;
        font-size: 1.1rem;
        max-inline-size: 1024px;
      }
    </style>
  </body>
</html>
